configs/Splunk_HEC_TCP_RESTQuery.xml
<?xml version="1.0" ?>
<template encoding-version="1.1">
  <description></description>
  <groupId>8a28c8a7-015d-1000-0ecb-f02ea95eb7c5</groupId>
  <name>Splunk_HEC_TCP_RESTQuery</name>
  <snippet>
    <connections>
      <id>c121592d-ca72-3a0f-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>107eb754-b48d-3550-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>2a6baa93-50fe-32dc-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>e6e715d9-643b-320f-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>bb90f4c9-9ae4-3a5e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>b0663f1f-2586-3d1f-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>f2cdf354-436a-33e7-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>3bc6286e-6489-3984-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>matched</selectedRelationships>
      <source>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>be4ba2bb-968c-3d04-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>0e15064d-c5ad-3f6c-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>1080.052212904932</x>
        <y>426.19823344255445</y>
      </bends>
      <bends>
        <x>1080.052212904932</x>
        <y>476.19823344255445</y>
      </bends>
      <destination>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>a3969341-14ea-3a87-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <source>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>a3969341-14ea-3a87-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>125a3436-168e-37ee-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>be4ba2bb-968c-3d04-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>splits</selectedRelationships>
      <source>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>107eb754-b48d-3550-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6a0be4a9-a4f6-35d8-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>a3969341-14ea-3a87-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>unmatched</selectedRelationships>
      <source>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>be4ba2bb-968c-3d04-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>6b35d216-c43d-378e-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <bends>
        <x>999.6694014073485</x>
        <y>245.42775672190373</y>
      </bends>
      <bends>
        <x>999.6694014073485</x>
        <y>295.42775672190373</y>
      </bends>
      <destination>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>bb90f4c9-9ae4-3a5e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>failure</selectedRelationships>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>b9738173-ab78-364c-0000-000000000000</groupId>
        <id>bb90f4c9-9ae4-3a5e-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processors>
      <id>a3969341-14ea-3a87-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <position>
        <x>625.052212904932</x>
        <y>386.19823344255445</y>
      </position>
      <bundle>
        <artifact>nifi-splunk-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Hostname</key>
            <value>
              <name>Hostname</name>
            </value>
          </entry>
          <entry>
            <key>Port</key>
            <value>
              <name>Port</name>
            </value>
          </entry>
          <entry>
            <key>Max Size of Socket Send Buffer</key>
            <value>
              <name>Max Size of Socket Send Buffer</name>
            </value>
          </entry>
          <entry>
            <key>Idle Connection Expiration</key>
            <value>
              <name>Idle Connection Expiration</name>
            </value>
          </entry>
          <entry>
            <key>Timeout</key>
            <value>
              <name>Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Protocol</key>
            <value>
              <name>Protocol</name>
            </value>
          </entry>
          <entry>
            <key>Message Delimiter</key>
            <value>
              <name>Message Delimiter</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Hostname</key>
            <value>localhost</value>
          </entry>
          <entry>
            <key>Port</key>
            <value>9997</value>
          </entry>
          <entry>
            <key>Max Size of Socket Send Buffer</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Idle Connection Expiration</key>
            <value>5 seconds</value>
          </entry>
          <entry>
            <key>Timeout</key>
            <value>10 seconds</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Protocol</key>
            <value>TCP</value>
          </entry>
          <entry>
            <key>Message Delimiter</key>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PutSplunk TCP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.splunk.PutSplunk</type>
    </processors>
    <processors>
      <id>b0663f1f-2586-3d1f-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <position>
        <x>558.4124944710054</x>
        <y>0.0</y>
      </position>
      <bundle>
        <artifact>nifi-splunk-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Scheme</key>
            <value>
              <name>Scheme</name>
            </value>
          </entry>
          <entry>
            <key>Hostname</key>
            <value>
              <name>Hostname</name>
            </value>
          </entry>
          <entry>
            <key>Port</key>
            <value>
              <name>Port</name>
            </value>
          </entry>
          <entry>
            <key>Query</key>
            <value>
              <name>Query</name>
            </value>
          </entry>
          <entry>
            <key>Time Field Strategy</key>
            <value>
              <name>Time Field Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Time Range Strategy</key>
            <value>
              <name>Time Range Strategy</name>
            </value>
          </entry>
          <entry>
            <key>Earliest Time</key>
            <value>
              <name>Earliest Time</name>
            </value>
          </entry>
          <entry>
            <key>Latest Time</key>
            <value>
              <name>Latest Time</name>
            </value>
          </entry>
          <entry>
            <key>Time Zone</key>
            <value>
              <name>Time Zone</name>
            </value>
          </entry>
          <entry>
            <key>Application</key>
            <value>
              <name>Application</name>
            </value>
          </entry>
          <entry>
            <key>Owner</key>
            <value>
              <name>Owner</name>
            </value>
          </entry>
          <entry>
            <key>Token</key>
            <value>
              <name>Token</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Security Protocol</key>
            <value>
              <name>Security Protocol</name>
            </value>
          </entry>
          <entry>
            <key>Output Mode</key>
            <value>
              <name>Output Mode</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Scheme</key>
            <value>https</value>
          </entry>
          <entry>
            <key>Hostname</key>
            <value>localhost</value>
          </entry>
          <entry>
            <key>Port</key>
            <value>8089</value>
          </entry>
          <entry>
            <key>Query</key>
            <value>search index="splunkaccesscombined" | head 100 </value>
          </entry>
          <entry>
            <key>Time Field Strategy</key>
            <value>Event Time</value>
          </entry>
          <entry>
            <key>Time Range Strategy</key>
            <value>Provided</value>
          </entry>
          <entry>
            <key>Earliest Time</key>
          </entry>
          <entry>
            <key>Latest Time</key>
          </entry>
          <entry>
            <key>Time Zone</key>
            <value>UTC</value>
          </entry>
          <entry>
            <key>Application</key>
          </entry>
          <entry>
            <key>Owner</key>
          </entry>
          <entry>
            <key>Token</key>
          </entry>
          <entry>
            <key>Username</key>
            <value>admin</value>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Security Protocol</key>
            <value>TLSv1_2</value>
          </entry>
          <entry>
            <key>Output Mode</key>
            <value>JSON</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>3600 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetSplunk</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.splunk.GetSplunk</type>
    </processors>
    <processors>
      <id>bb90f4c9-9ae4-3a5e-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <position>
        <x>544.6694014073485</x>
        <y>205.42775672190373</y>
      </position>
      <bundle>
        <artifact>nifi-kafka-0-10-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>bootstrap.servers</key>
            <value>
              <name>bootstrap.servers</name>
            </value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>
              <name>security.protocol</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
            <value>
              <name>sasl.kerberos.service.name</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
            <value>
              <name>sasl.kerberos.principal</name>
            </value>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
            <value>
              <name>sasl.kerberos.keytab</name>
            </value>
          </entry>
          <entry>
            <key>ssl.context.service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>ssl.context.service</name>
            </value>
          </entry>
          <entry>
            <key>topic</key>
            <value>
              <name>topic</name>
            </value>
          </entry>
          <entry>
            <key>acks</key>
            <value>
              <name>acks</name>
            </value>
          </entry>
          <entry>
            <key>kafka-key</key>
            <value>
              <name>kafka-key</name>
            </value>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>
              <name>key-attribute-encoding</name>
            </value>
          </entry>
          <entry>
            <key>message-demarcator</key>
            <value>
              <name>message-demarcator</name>
            </value>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>
              <name>max.request.size</name>
            </value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>
              <name>ack.wait.time</name>
            </value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>
              <name>max.block.ms</name>
            </value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>
              <name>partitioner.class</name>
            </value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>
              <name>compression.type</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>bootstrap.servers</key>
            <value>localhost:9092</value>
          </entry>
          <entry>
            <key>security.protocol</key>
            <value>PLAINTEXT</value>
          </entry>
          <entry>
            <key>sasl.kerberos.service.name</key>
          </entry>
          <entry>
            <key>sasl.kerberos.principal</key>
          </entry>
          <entry>
            <key>sasl.kerberos.keytab</key>
          </entry>
          <entry>
            <key>ssl.context.service</key>
          </entry>
          <entry>
            <key>topic</key>
            <value>splunknifi1</value>
          </entry>
          <entry>
            <key>acks</key>
            <value>0</value>
          </entry>
          <entry>
            <key>kafka-key</key>
          </entry>
          <entry>
            <key>key-attribute-encoding</key>
            <value>utf-8</value>
          </entry>
          <entry>
            <key>message-demarcator</key>
          </entry>
          <entry>
            <key>max.request.size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>ack.wait.time</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>max.block.ms</key>
            <value>5 sec</value>
          </entry>
          <entry>
            <key>partitioner.class</key>
            <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
          </entry>
          <entry>
            <key>compression.type</key>
            <value>none</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>PublishKafka_0_10</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_0_10</type>
    </processors>
    <processors>
      <id>be4ba2bb-968c-3d04-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <position>
        <x>5.045286589135912</x>
        <y>437.7362164436333</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Capture Group Length</key>
            <value>
              <name>Maximum Capture Group Length</name>
            </value>
          </entry>
          <entry>
            <key>Enable Canonical Equivalence</key>
            <value>
              <name>Enable Canonical Equivalence</name>
            </value>
          </entry>
          <entry>
            <key>Enable Case-insensitive Matching</key>
            <value>
              <name>Enable Case-insensitive Matching</name>
            </value>
          </entry>
          <entry>
            <key>Permit Whitespace and Comments in Pattern</key>
            <value>
              <name>Permit Whitespace and Comments in Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Enable DOTALL Mode</key>
            <value>
              <name>Enable DOTALL Mode</name>
            </value>
          </entry>
          <entry>
            <key>Enable Literal Parsing of the Pattern</key>
            <value>
              <name>Enable Literal Parsing of the Pattern</name>
            </value>
          </entry>
          <entry>
            <key>Enable Multiline Mode</key>
            <value>
              <name>Enable Multiline Mode</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unicode-aware Case Folding</key>
            <value>
              <name>Enable Unicode-aware Case Folding</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unicode Predefined Character Classes</key>
            <value>
              <name>Enable Unicode Predefined Character Classes</name>
            </value>
          </entry>
          <entry>
            <key>Enable Unix Lines Mode</key>
            <value>
              <name>Enable Unix Lines Mode</name>
            </value>
          </entry>
          <entry>
            <key>Include Capture Group 0</key>
            <value>
              <name>Include Capture Group 0</name>
            </value>
          </entry>
          <entry>
            <key>extract-text-enable-repeating-capture-group</key>
            <value>
              <name>extract-text-enable-repeating-capture-group</name>
            </value>
          </entry>
          <entry>
            <key>status300</key>
            <value>
              <name>status300</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Maximum Capture Group Length</key>
            <value>1024</value>
          </entry>
          <entry>
            <key>Enable Canonical Equivalence</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Case-insensitive Matching</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Permit Whitespace and Comments in Pattern</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable DOTALL Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Literal Parsing of the Pattern</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Multiline Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unicode-aware Case Folding</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unicode Predefined Character Classes</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Enable Unix Lines Mode</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Include Capture Group 0</key>
            <value>true</value>
          </entry>
          <entry>
            <key>extract-text-enable-repeating-capture-group</key>
            <value>false</value>
          </entry>
          <entry>
            <key>status300</key>
            <value>.*?["][ ]([3,4,5][0-9][0-9])[ ]</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>ExtractText</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.ExtractText</type>
    </processors>
    <processors>
      <id>107eb754-b48d-3550-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>228.9728977089648</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Line Split Count</key>
            <value>
              <name>Line Split Count</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
            <value>
              <name>Maximum Fragment Size</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>
              <name>Header Line Count</name>
            </value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
            <value>
              <name>Header Line Marker Characters</name>
            </value>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>
              <name>Remove Trailing Newlines</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Line Split Count</key>
            <value>1</value>
          </entry>
          <entry>
            <key>Maximum Fragment Size</key>
          </entry>
          <entry>
            <key>Header Line Count</key>
            <value>0</value>
          </entry>
          <entry>
            <key>Header Line Marker Characters</key>
          </entry>
          <entry>
            <key>Remove Trailing Newlines</key>
            <value>true</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>SplitText</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>splits</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.SplitText</type>
    </processors>
    <processors>
      <id>2a6baa93-50fe-32dc-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <position>
        <x>5.004456562101268</x>
        <y>18.628793092689477</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>tail-mode</key>
            <value>
              <name>tail-mode</name>
            </value>
          </entry>
          <entry>
            <key>File to Tail</key>
            <value>
              <name>File to Tail</name>
            </value>
          </entry>
          <entry>
            <key>Rolling Filename Pattern</key>
            <value>
              <name>Rolling Filename Pattern</name>
            </value>
          </entry>
          <entry>
            <key>tail-base-directory</key>
            <value>
              <name>tail-base-directory</name>
            </value>
          </entry>
          <entry>
            <key>Initial Start Position</key>
            <value>
              <name>Initial Start Position</name>
            </value>
          </entry>
          <entry>
            <key>File Location</key>
            <value>
              <name>File Location</name>
            </value>
          </entry>
          <entry>
            <key>tailfile-recursive-lookup</key>
            <value>
              <name>tailfile-recursive-lookup</name>
            </value>
          </entry>
          <entry>
            <key>tailfile-rolling-strategy</key>
            <value>
              <name>tailfile-rolling-strategy</name>
            </value>
          </entry>
          <entry>
            <key>tailfile-lookup-frequency</key>
            <value>
              <name>tailfile-lookup-frequency</name>
            </value>
          </entry>
          <entry>
            <key>tailfile-maximum-age</key>
            <value>
              <name>tailfile-maximum-age</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>tail-mode</key>
            <value>Single file</value>
          </entry>
          <entry>
            <key>File to Tail</key>
            <value>/opt/nifi-1.4.0/splunk_sample_data/access1.log</value>
          </entry>
          <entry>
            <key>Rolling Filename Pattern</key>
          </entry>
          <entry>
            <key>tail-base-directory</key>
          </entry>
          <entry>
            <key>Initial Start Position</key>
            <value>Beginning of File</value>
          </entry>
          <entry>
            <key>File Location</key>
            <value>Local</value>
          </entry>
          <entry>
            <key>tailfile-recursive-lookup</key>
            <value>false</value>
          </entry>
          <entry>
            <key>tailfile-rolling-strategy</key>
            <value>Fixed name</value>
          </entry>
          <entry>
            <key>tailfile-lookup-frequency</key>
            <value>10 minutes</value>
          </entry>
          <entry>
            <key>tailfile-maximum-age</key>
            <value>24 hours</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>TailFile</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.TailFile</type>
    </processors>
    <processors>
      <id>3bc6286e-6489-3984-0000-000000000000</id>
      <parentGroupId>b9738173-ab78-364c-0000-000000000000</parentGroupId>
      <position>
        <x>638.8139107415907</x>
        <y>580.1589620846919</y>
      </position>
      <bundle>
        <artifact>nifi-standard-nar</artifact>
        <group>org.apache.nifi</group>
        <version>1.3.0</version>
      </bundle>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>HTTP Method</key>
            <value>
              <name>HTTP Method</name>
            </value>
          </entry>
          <entry>
            <key>Remote URL</key>
            <value>
              <name>Remote URL</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Read Timeout</key>
            <value>
              <name>Read Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Include Date Header</key>
            <value>
              <name>Include Date Header</name>
            </value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>
              <name>Follow Redirects</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Send</key>
            <value>
              <name>Attributes to Send</name>
            </value>
          </entry>
          <entry>
            <key>Basic Authentication Username</key>
            <value>
              <name>Basic Authentication Username</name>
            </value>
          </entry>
          <entry>
            <key>Basic Authentication Password</key>
            <value>
              <name>Basic Authentication Password</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
          <entry>
            <key>invokehttp-proxy-user</key>
            <value>
              <name>invokehttp-proxy-user</name>
            </value>
          </entry>
          <entry>
            <key>invokehttp-proxy-password</key>
            <value>
              <name>invokehttp-proxy-password</name>
            </value>
          </entry>
          <entry>
            <key>Put Response Body In Attribute</key>
            <value>
              <name>Put Response Body In Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Max Length To Put In Attribute</key>
            <value>
              <name>Max Length To Put In Attribute</name>
            </value>
          </entry>
          <entry>
            <key>Digest Authentication</key>
            <value>
              <name>Digest Authentication</name>
            </value>
          </entry>
          <entry>
            <key>Always Output Response</key>
            <value>
              <name>Always Output Response</name>
            </value>
          </entry>
          <entry>
            <key>Trusted Hostname</key>
            <value>
              <name>Trusted Hostname</name>
            </value>
          </entry>
          <entry>
            <key>Add Response Headers to Request</key>
            <value>
              <name>Add Response Headers to Request</name>
            </value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>
              <name>Content-Type</name>
            </value>
          </entry>
          <entry>
            <key>send-message-body</key>
            <value>
              <name>send-message-body</name>
            </value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>
              <name>Use Chunked Encoding</name>
            </value>
          </entry>
          <entry>
            <key>Penalize on "No Retry"</key>
            <value>
              <name>Penalize on "No Retry"</name>
            </value>
          </entry>
          <entry>
            <key>Authorization</key>
            <value>
              <name>Authorization</name>
            </value>
          </entry>
          <entry>
            <key>X-Splunk-Request-Channel</key>
            <value>
              <name>X-Splunk-Request-Channel</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>HTTP Method</key>
            <value>POST</value>
          </entry>
          <entry>
            <key>Remote URL</key>
            <value>http://localhost:9088/services/collector/raw?sourcetype=access_combined</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>5 secs</value>
          </entry>
          <entry>
            <key>Read Timeout</key>
            <value>15 secs</value>
          </entry>
          <entry>
            <key>Include Date Header</key>
            <value>True</value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>True</value>
          </entry>
          <entry>
            <key>Attributes to Send</key>
          </entry>
          <entry>
            <key>Basic Authentication Username</key>
          </entry>
          <entry>
            <key>Basic Authentication Password</key>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
          <entry>
            <key>invokehttp-proxy-user</key>
          </entry>
          <entry>
            <key>invokehttp-proxy-password</key>
          </entry>
          <entry>
            <key>Put Response Body In Attribute</key>
          </entry>
          <entry>
            <key>Max Length To Put In Attribute</key>
            <value>256</value>
          </entry>
          <entry>
            <key>Digest Authentication</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Always Output Response</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Trusted Hostname</key>
          </entry>
          <entry>
            <key>Add Response Headers to Request</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Content-Type</key>
            <value>${mime.type}</value>
          </entry>
          <entry>
            <key>send-message-body</key>
            <value>true</value>
          </entry>
          <entry>
            <key>Use Chunked Encoding</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Penalize on "No Retry"</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Authorization</key>
            <value>Splunk 9C99B74D-2058-4953-A344-93CD72CB2AF0</value>
          </entry>
          <entry>
            <key>X-Splunk-Request-Channel</key>
            <value>F3E1AF7C-7186-4A79-B051-E4E9D15ABAC3</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Splunk HEC Status NOT 200</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>No Retry</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Original</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Response</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>Retry</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
    </processors>
  </snippet>
  <timestamp>07/28/2017 17:41:55 EDT</timestamp>
</template>
